<h3><i class="icon-pencil"></i> Gestion des oeuvres</h3>
<p>Cette page regroupe les oeuvres qui ont été utilisées dans une ou plusieurs inscriptions au concours.</p>
<p>Il est possible d'y ajouter des oeuvres pour les rendre disponibles à l'avance aux participants.</p>
<hr />
<%= render :partial => '/admin/pieces/grid' %>
<%= render :partial => '/admin/pieces/form' %>