<h5>Commissions scolaires existantes</h5>
<table class="table table-bordered">
  <thead><tr>
    <th>Id</th>
    <th>Nom de la comission scolaire</th>
    <th>Date de création</th>
    <th>Dernière mise à jour</th>
  </tr></thead>
  <% @schoolboards.each do |schoolboard| %>
      <tr>
        <td><%= schoolboard.id %></td>
        <td><%= schoolboard.name %></td>
        <td><%= schoolboard.created_at %></td>
        <td><%= schoolboard.updated_at %></td>
      </tr>
  <% end %>
</table><hr>