<h3><i class="icon-bell"></i> Gestion des commissions scolaires</h3>
<p>Cette page permet de définir les commissions scolaires
  pour pouvoir associer les institutions scolaires à une commission scolaire.</p>
<hr />
<%= render :partial => '/admin/schoolboards/grid' %>
<%= render :partial => '/admin/schoolboards/form' %>