<% content_for(:head) do %>
  <script type="text/javascript">
    fcms.currentCategory = [];

    $(document).ready(function() {
      // Hide the planification section
      $('#section-2').hide();

      // On category selection
      $('#input-planned-category').on('change', function() {
        var selectedOption = $(this).children("option:selected");
        var categoryId = selectedOption.attr('value');
        var categoryName = selectedOption.text();
        if (!categoryId || categoryId < 0) {
          $('#section-2').hide('fast');
          return;
        }

        $.ajax({
          url: "http://localhost:3000/admin/planification/categories/" + categoryId,
          success: function(data) {
            fcms.currentCategory = data;

            var tsInput = $('#select-timeslot');
            tsInput.find('option').remove().end().append('<option></option>');
            _.each(fcms.currentCategory.timeslots, function(ts) {
              $('<option></option>').attr('value', ts.id).text(ts.label).appendTo(tsInput);
            });

            $('.panel:not(#panel-categories)').hide();
            $('#section-2').show('fast');
          },
          error: function() {
            alert("Les sous-catégories pour la classe " + categoryName + " n'ont pas pu être chargées.")
          }
        })
      });

      // On timeslot selection
      $('#select-timeslot').on('change', function() {
        var selectedOption = $(this).children("option:selected");
        var timeslotId = selectedOption.attr('value');
        var timeslotName = selectedOption.text();
        if (!timeslotId || timeslotId < 0) {
          $('.panel:not(#panel-categories)').hide('fast');
          return;
        }

        $.ajax({
          url: "http://localhost:3000/admin/planification/timeslots/" + timeslotId,
          success: function(data) {
            loadTimeslot(data);
          },
          error: function() {
            alert("La sous-catégorie " + timeslotName + " n'a pas pu être chargée.");
          }
        });
      });

      // On timeslot creation
      $('#btn-create-timeslot').click(function() {
        loadTimeslot();
      });

      // Enable select-all and select-none buttons
      $('#btn-select-all-down')     .click(function() { $('#table-inscriptions-selected tr.draggable').addClass('selected'); });
      $('#btn-select-none-down')    .click(function() { $('#table-inscriptions-selected tr.draggable').removeClass('selected'); });

      $('#btn-select-all-up')       .click(function() { $('#table-inscriptions-all      tr.draggable').addClass('selected'); });
      $('#btn-select-none-up')      .click(function() { $('#table-inscriptions-all      tr.draggable').removeClass('selected'); });

      // Enable arrow buttons
      $('#btn-move-all-down')       .click(function() { moveRows($('#table-inscriptions-selected tr.draggable'),          fcms.table_selected, fcms.table_all); });
      $('#btn-move-selected-down')  .click(function() { moveRows($('#table-inscriptions-selected tr.draggable.selected'), fcms.table_selected, fcms.table_all); });
      $('#btn-move-all-up')         .click(function() { moveRows($('#table-inscriptions-all      tr.draggable'),          fcms.table_all, fcms.table_selected); });
      $('#btn-move-selected-up')    .click(function() { moveRows($('#table-inscriptions-all      tr.draggable.selected'), fcms.table_all, fcms.table_selected); });
    });

  </script>

<% end %>


<h3>
  <i class="icon-calendar"></i> Planifier le concours
  <span style="float: right;">
    <a href="<%=  admin_planif_excel_path %>" class="btn btn-primary" >Télécharger les inscriptions au format Excel</a>
  </span>
</h3>
<div class="form-inline" id="section-1">
  <label for="input-planned-category">Sélectionner la classe à planifier: </label>&nbsp;&nbsp;
  <%= select_tag 'input-planned-category', options_from_collection_for_select(Category.all(:order => "name ASC"), 'id', 'name'), :include_blank => true %>
</div>

<div id="section-2">
  <hr>

  <div class="panel" id="panel-categories">
    <h4>Catégories d'inscription</h4>
    <div class="form-inline">
      <label for="select-timeslot">Catégorie d'inscription: </label>&nbsp;&nbsp;
      <select id="select-timeslot"></select>
      <a class="btn btn-small btn-success" href="#" id="btn-create-timeslot"><i class="icon-plus"></i></a>
      <a class="btn btn-small btn-danger " href="#" id="btn-delete-timeslot"><i class="icon-minus"></i></a>
    </div>
  </div>

  <div class="panel" id="panel-selected">
    <hr>

    <div id="timeslot-buttons-top">
      <button class="btn btn-success btn-small input-large" id="btn-save-timeslot">Enregistrer les modifications</button><br />
      <button class="btn btn-danger btn-small input-large" id="btn-remove-timeslot">Supprimer la catégorie</button>
    </div>
    <h4>Détails de la catégorie</h4>

    <div class="control-group">
      <label class="control-label"><b>Identifiant</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="iconic-hash"></i></span>
          <input class="input-small" id="input-timeslot-id" type="text" disabled="true">
        </div>
        <br />
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="input-timeslot-name"><b>Nom de la catégorie</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-font"></i></span>
          <input class="input-xlarge" id="input-timeslot-name" type="text">
        </div>
        <br />
      </div>
    </div>

    <h4>Inscriptions dans cette catégorie</h4>
    <div class="div-inscriptions" id="div-inscriptions-selected"></div>

  </div>

  <div class="panel" id="panel-controls">
    <div class="sub-controls" id="sub-controls-down">
      <div class="sub-controls-left">
        <button class="btn btn-mini" id="btn-select-all-down">Sélectionner tout</button>&nbsp;<button class="btn btn-mini" id="btn-select-none-down">Désélectionner tout</button>
      </div>
      <div class="sub-controls-right">
        <button class="btn btn-mini" id="btn-move-all-down"><i class="icon-arrow-down"></i></button>&nbsp;<button class="btn btn-mini" id="btn-move-selected-down"><i class="icon-chevron-down"></i></button>
      </div>
      <div class="clear"></div>
    </div>
    <div class="sub-controls" id="sub-controls-up">
      <div class="sub-controls-left">
        <button class="btn btn-mini" id="btn-move-selected-up"><i class="icon-chevron-up"></i></button>&nbsp;<button class="btn btn-mini" id="btn-move-all-up"><i class="icon-arrow-up"></i></button>
      </div>
      <div class="sub-controls-right">
        <button class="btn btn-mini" id="btn-select-all-up">Sélectionner tout</button>&nbsp;<button class="btn btn-mini" id="btn-select-none-up">Désélectionner tout</button>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="panel" id="panel-all">
    <h4>Toutes les inscriptions pour la classe <strong>Récital</strong></h4>
    <div class="div-inscriptions" id="div-inscriptions-all"></div>

  </div>

</div>