<h4>Ajouter ou modifier un compsiteur</h4>
<div class="col">
    <%= simple_form_for [:admin, @composer] do |f| %>
      <div class="control-group">
        <label class="control-label"><h5>Identifiant</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="iconic-hash"></i></span>
            <%= f.text_field :id, :class => 'input-small', :disabled => true%>
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><h5>Nom du compositeur</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-font"></i></span>
            <%= f.text_field :name, :class => 'input-xlarge' %>
          </div>
          <br />
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, 'Enregistrer' , :class => 'btn btn-primary' %>
      </div>
    <% end %>
</div>