<h5>Ajouter ou modifier un compsiteur</h5>
<div class="col">
    <%= simple_form_for [:admin, @composer] do |f| %>

        <div class="input-prepend">
            <span class="add-on"><i class="iconic-hash"></i></span>
            <%= f.text_field :id, :class => 'input-small', :disabled => true%>
        </div>
        <br />

        <div class="input-prepend">
            <span class="add-on"><i class="iconic-hash"></i></span>
            <%= f.text_field :name, :autofocus => true, :placeholder => 'Nom de la ville', :class => 'input-xlarge' %>
        </div>
        <br />

      <div class="form-actions">
        <%= f.button :submit, 'Enregistrer' , :class => 'btn btn-primary' %>
      </div>
    <% end %>
</div>