<h5>Compositeurs existants</h5>
<table class="table table-bordered">
  <thead><tr>
    <th>Id</th>
    <th>Nom du compositeur</th>
    <th>Date de création</th>
    <th>Dernière mise à jour</th>
  </tr></thead>
  <% @composers.each do |composer| %>
      <tr>
        <td><%= composer.id %></td>
        <td><%= composer.name %></td>
        <td><%= composer.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= composer.updated_at.strftime("%d/%m/%Y") %></td>
      </tr>
  <% end %>
</table><hr>