<h3><i class="icon-pencil "></i> Gestion des compositeurs</h3>
<p>Cette page permet de gérer la liste des compositeurs disponibles pour le programme musical des participants.<p>
<ul class="form-description">
<li><i>De nouveaux compositeurs peuvent être ajoutés à l'inscription,
  mais les mettre ici à l'avance permet d'assurer l'orthographe correct.</i></li>
<li><i>Si un compositeur a été nommé de façon erronée, il est possible de le rechercher
  dans la table ci-dessous et de l'éditer.</i></li>
</ul>
<hr />
<%= render :partial => '/admin/composers/grid' %>
<%= render :partial => '/admin/composers/form' %>