<h5>Types d'écoles existants</h5>
<table class="table table-bordered">
  <thead><tr>
    <th>Id</th>
    <th>Type d'école</th>
    <th>Date de création</th>
    <th>Dernière mise à jour</th>
  </tr></thead>
  <% @schooltypes.each do |schooltype| %>
      <tr>
        <td><%= schooltype.id %></td>
        <td><%= schooltype.name %></td>
        <td><%= schooltype.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= schooltype.updated_at.strftime("%d/%m/%Y") %></td>
      </tr>
  <% end %>
</table><hr>