<h3><i class="icon-tags"></i> Gestion des types d'écoles</h3>
<p>Cette page permet de définir des types d'écoles, comme <i>primaire</i>, <i>secondaire</i>, <i>collégial</i>,
  <i>universitaire</i> ou autre, pour pouvoir les associer aux institutions scolaires par la suite.</p>
<hr />
<%= render :partial => '/admin/schooltypes/grid' %>
<%= render :partial => '/admin/schooltypes/form' %>