<h3><i class="icon-coffee"></i> Gestion des professeurs</h3>
<p>Cette page regroupe les utilisateurs du portail possédant le rôle de <strong>professeur</strong>.</p>
<p>Pour assigner le rôle de professeur à un utilisateur, utiliser le formulaire au bas de la page.</p>
<hr>
<%= render :partial => '/admin/teachers/grid' %>
<%= render :partial => '/admin/teachers/form' %>