<h3><i class="icon-home"></i> Page de nouvelles</h3>
<p>Cette page permet de définir le contenu de la page d'accueil de l'application du FCMS.</p>
<hr />
<%= render :partial => '/admin/settings/homemessage' %>