<h3><i class="icon-group"></i> Gestion des accompagnateurs</h3>
<p>Cette page regroupe les utilisateurs du portail possédant le rôle d'<strong>accompagnateur</strong>.</p>
<p>Pour assigner le rôle d'accompagnateur à un utilisateur, utiliser le formulaire au bas de la page.</p>
<hr>
<%= render :partial => '/admin/accompanists/grid' %>
<%= render :partial => '/admin/accompanists/form' %>