<h5>UTILISATEURS EXISTANTS</h5>
<table id ="edit_user_table" class="table table-bordered">
  <thead><tr>
    <th>Identifiant</th>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Adresse courriel</th>
  </tr></thead>
  <% @users.each do |usr| %>
      <tr>
        <td><%= usr.id %></td>
        <td><%= usr.first_name %></td>
        <td><%= usr.last_name %></td>
        <td><%= usr.email %></td>
      </tr>
  <% end %>
</table>