<h3><i class="icon-group"></i> Liste des utilisateurs</h3>
<%= render :partial => 'users/grid' %>
<br />
Un utilisateur n'est toujours pas inscrit au portail ? <%= link_to "Cliquez ici pour l'inviter", 'users/invitation/new' %>
<%= render :partial => 'users/form' %>