<div id="addNewPiece" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addNewPieceLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ajouter une nouvelle pièce</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
    <button class="btn btn-primary" onclick="sendNewPiece();  return false;">Enregistrer</button>
  </div>
</div>