<tr class="fields">
  <td>
    <input type="hidden" class="select optional composer_select input-large" id="registration_performances_attributes_new_performances_piece_attributes_composer_id" name="registration[performances_attributes][new_performances][piece_attributes][composer_id]" data-placeholder="Choisir un compositeur"/>
    <a href="#addNewComposer" class="icon-plus" data-toggle="modal"/>
  </td>
  <td>
    <input class="input-large" id="registration_performances_attributes_new_performances_piece_attributes_title" name="registration[performances_attributes][new_performances][piece_attributes][title]" data-composer=""/>
  </td>
  <td><%= number_field_tag 'unit_duration', nil, :step => 0.5, :in => 0..30, :onchange => 'calculateTotDuration()', :class => 'input-small unit_duration' %></td>
  <td><%= f.link_to_remove 'Supprimer', :class => 'btn' %></td>
</tr>