<tr class="fields">
  <td>
    <div class="input-append">
      <%= f.association :piece, prompt: "Choisissez une pièce", label: false, wrapper: false, :input_html=> {class: 'piece_select'}, label_method: lambda { |piece| piece.composer.name + " " + piece.title } %>
      <button href="#addNewPiece" class="btn" type="button" data-toggle="modal">Ajouter</button>
    </div>
  </td>
  <td><%= number_field_tag 'unit_duration', nil, :step => 0.5, :in => 0..30, :onchange => 'calculateTotDuration()' %></td>
  <td><%= f.link_to_remove 'Supprimer', :class => 'btn' %></td>
</tr>