<% content_for(:head) do %>
    <script type="text/javascript">
        $(document).ready(function() {
            fcms.bindTable($('.table'));
            fcms.initTable({
              aoColumnDefs: [
                {
                  bSortable: false,
                  aTargets: [ 0 ]
                }
              ],
              "oLanguage": {
                "sEmptyTable": "Vous n'êtes pas encore inscrit au Festival-Concours de Musique de Sherbrooke."
              }
            });
        });
    </script>
<% end %>

<h3>Inscriptions au festival</h3>
<p>Le tableau ci-dessous regroupe vos inscriptions au Festival-Concours de Musique de Sherbrooke.</p>
<hr>
<%= render :partial => 'registrations/grid' %>