<% if alert -%>
    <p class="alert alert-danger"><%= alert %></p>
<% end -%>

<div class="home-message">
  <h3>Bienvenue, <%= current_user.name %>!</h3>
  <%= Setting.find_by_key('home_message').value.html_safe %>
</div>

<div class="home-links">
  <h4>Liens utiles</h4>
  <ul>
    <li><a href="<%= new_registration_path %>" >S'inscrire à la prochaine édition</a></li>
    <li><a href="http://www.fcmsherbrooke.com" >Le site officiel du FCMS</a></li>
  </ul>
</div>