<% if alert -%>
    <p class="alert alert-danger"><%= alert %></p>
<% end -%>

<div class="dash-page"><center><h1>Bienvenue<%= ", cher " + current_user.roles.first.name  unless current_user.roles.empty?%> !</h1></center>
  <div class="dash-left">
    <h2>Liens utiles</h2> <br/>
    <ul>
      <li><a href="<%= new_registration_path %>" >S'inscrire à la prochaine édition</a></li>
      <li><a href="http://www.fcmsherbrooke.com" >Le site officiel du FCMS</a></li>
    </ul>
  </div>
</div>