<div class="dash-page"><center><h1>Bienvenue<%= ", cher " + current_user.roles.first.name  unless current_user.roles.empty?%> !</h1></center>
  <div class="dash-left">
    <h2>Liens utiles</h2> <br/>
    <ul>
      <li>Inscription vers la prochaine édition</li>
      <li>Le site officiel du FCMS</li>
      <li>Les catégories disponibles</li>
      <li>Les bourses possibles</li>
      <li>Les derniers lauréats</li>
    </ul>
  </div>


  <div class="dash-right">
    <h2>FAQ</h2> <br/>
    <ul>
      <li>Inscription vers la prochaine édition</li>
      <li>Le site officiel du FCMS</li>
      <li>Les catégories disponibles</li>
      <li>Les bourses possibles</li>
      <li>Les derniers lauréats</li>
    </ul>
  </div>
</div>