<h5>GROUPES D'ÂGE, COÛTS & LIMITES DE TEMPS</h5>
<table class="table table-bordered" id="agegroups_list">
  <thead><tr>
    <th width="5%">Id</th>
    <th width="45%">Description</th>
    <th width="10%">Âge min.</th>
    <th width="10%">Âge max.</th>
    <th width="10%">Tarif ($)</th>
    <th width="20%">Durée maximale (minutes)</th>
  </tr></thead>
  <% @agegroups.each do |agegroup| %>

  <% end %>
</table><hr>