<h3><i class="iconic-tag-stroke"></i> Gestion des éditions</h3>
<%= render :partial => '/admin/settings/currentedition' %>
<hr>
<%= render :partial => '/admin/editions/grid' %>
<%= render :partial => '/admin/editions/form' %>