.panel {
    width: 100%;
    display: block;
    margin: 0 auto 10px auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

tr.selectable, tr.draggable { cursor: pointer; }

#timeslot-buttons-top { position: absolute; top: 22px; right: 0px; }
#timeslot-buttons-top .btn { margin-bottom: 5px; }

#panel-controls  { display: table; }
#panel-controls .sub-controls { display: table-cell; padding: 5px 10px; vertical-align: top; }
#panel-controls .sub-controls-left { float: left; }
#panel-controls .sub-controls-right { float: right; }
#panel-controls #sub-controls-up { padding-right: 0px; border-left: 1px dotted; padding-top: 30px; }
#panel-controls #sub-controls-down { padding-left: 0px; }

.table-inscriptions { font-size: 11px; }
.table-inscriptions th, .table-inscriptions td { padding: 3px 15px 3px 3px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.table-inscriptions { border: none; margin-bottom: 0 !important; }

.table-inscriptions th {
    border: none;
    border-bottom: 1px solid #dddddd;
    padding: 3px 20px 3px 3px;
    font-size: 11.5px;
}

.table-inscriptions td {
    border: none;
}

.table-inscriptions thead:last-child tr:last-child>th:first-child, .table-inscriptions tbody:last-child tr:last-child>td:first-child, .table-bordered tbody:last-child tr:last-child>th:first-child, .table-bordered tfoot:last-child tr:last-child>td:first-child, .table-bordered tfoot:last-child tr:last-child>th:first-child,
.table-inscriptions thead:first-child tr:first-child>th:first-child, .table-inscriptions tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child,
.table-inscriptions thead:last-child tr:last-child>th:last-child, .table-inscriptions tbody:last-child tr:last-child>td:last-child, .table-bordered tbody:last-child tr:last-child>th:last-child, .table-bordered tfoot:last-child tr:last-child>td:last-child, .table-bordered tfoot:last-child tr:last-child>th:last-child {
    webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
}

.table-inscriptions tr.odd {
    background-color: #FFFBEF;
}
.table-inscriptions tr.even {
    background-color: #fffdfa;
}

.table-inscriptions tr.selected {
    color: #fff;
    text-decoration: none;
    background-color: #aa0911;
}

.table-inscriptions { width: 100%; }

.table-footer {
    border-top: 1px solid #eee;
    padding: 4px 8px;
    font-size: 12px;
    background-color: #f7f7f7;
    font-weight: bold;
}

.table-dragger {
    height: 10px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #bbb;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    line-height: 1px;
}