<h5>Villes existantes</h5>
<table class="table table-bordered">
  <thead><tr>
    <th>Id</th>
    <th>Nom de la ville</th>
    <th>Date de création</th>
    <th>Dernière mise à jour</th>
  </tr></thead>
  <% @cities.each do |city| %>
      <tr>
        <td><%= city.id %></td>
        <td><%= city.name %></td>
        <td><%= city.created_at %></td>
        <td><%= city.updated_at %></td>
      </tr>
  <% end %>
</table><hr>