<h3><i class="icon-building"></i> Gestion des villes</h3>
<p>Cette page permet de gérer la liste des villes.<p>
<hr />
<%= render :partial => '/admin/cities/grid' %>
<%= render :partial => '/admin/cities/form' %>