<h3><i class="icon-envelope"></i> Messagerie</h3>

<%= simple_form_for [:admin, @role], :remote => true,
                    :url => admin_custom_mails_path,
                    :method => 'post' do |f| %>

    <h4>Destinataires</h4>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-book"></i></span>
      <select name="custom_mail[mailto][]" multiple>
        <% @roles.each do |r| %>
            <option value="<%= r.id %>"><%= r.name %></option>
        <% end %>
      </select>
    </div>

    <h4>Sujet</h4>
    <div class="input-prepend field_with_errors">
      <span class="add-on"><i class="icon-font"></i></span>
      <input autofocus="autofocus" class="input-xlarge" id="custom_mail_title" name="custom_mail[title]" size="30" type="text" >
    </div>

    <h4>Corps</h4>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-pencil"></i></span>
      <textarea class="input-xlarge" cols="40" id="custom_mail_body" name="custom_mail[body]" rows="7"></textarea>
    </div>
    <br>
    <%= f.button :submit, 'Envoyer le message' , :class => 'btn btn-primary' %>
<% end %>
