<h3><i class="icon-group"></i> Gestion des participants</h3>
<p>Cette page regroupe les utilisateurs du portail possédant le rôle de <strong>participant</strong>.</p>
<p>Pour assigner le rôle de participant à un utilisateur, utiliser le formulaire au bas de la page.</p>
<hr>
<%= render :partial => '/admin/participants/grid' %>
<%= render :partial => '/admin/participants/form' %>