<h5>Instruments existants</h5>
<table class="table table-bordered">
  <thead><tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Date de création</th>
    <th>Dernière mise à jour</th>
  </tr></thead>
  <tbody>
  <% @instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.id %></td>
        <td><%= instrument.name %></td>
        <td><%= instrument.created_at %></td>
        <td><%= instrument.updated_at %></td>
      </tr>
  <% end %>
  </tbody>
</table><hr>