<h3><i class="iconic-mic"></i> Gestion des instruments</h3>
<p>Cette page permet de définir les instruments que les participants peuvent sélectionner lors de l'inscription.</p>
<hr />
<%= render :partial => '/admin/instruments/grid' %>
<%= render :partial => '/admin/instruments/form' %>