<h5>Assigner le rôle de juge à un utilisateur</h5>

<%= simple_form_for @role, :remote => true,:validate=>true,
                    :url => url_for(:action => 'create', :controller => 'admin/juges'),
                    :method => 'post' do |f| %>

    <div class="input-prepend">
      <span class="add-on"><i class="icon-user"></i></span>
      <%= f.association :users, collection: @users , prompt: "Choisissez un utilisateur", label: false, wrapper: false, as: :collection_select, :input_html => {:class => 'input-xlarge'}, label_method: lambda { |usr| usr.first_name + " " + usr.last_name + " (" + usr.email + ")"} %>
    </div>
    <br />

    <%= f.button :submit, 'Ajouter le rôle de juge à l\'utilisateur' , :class => 'btn' %>
<% end %>