<h3><i class="icon-flag-alt"></i> Classes d'inscription</h3><hr />
<div id="categories-list">
  <%= render :partial => '/admin/categories/list' %>
</div>
<div id="categories-form">
  <%= render :partial => '/admin/categories/form' %>
</div>