<h3><i class="icon-flag-alt"></i> Classes d'inscription</h3>
<p>Cette page permet de gérer les classes d'inscriptions disponibles aux participants.</p>
<hr />
<div id="categories-list">
  <%= render :partial => '/admin/categories/list' %>
</div>
<div id="categories-form">
  <%= render :partial => '/admin/categories/form' %>
</div>