<h5>Utilisateurs existants</h5>
<table class="table table-bordered" id="users-table" data-source="<%= admin_users_path %>">
  <thead><tr>
    <th>#</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Adresse courriel</th>
    <th>Compte confirmé</th>
    <th>Date de création</th>
    <th>Dernière de mise à jour</th>
  </tr></thead>
  <tbody>
  </tbody>
</table>