<h3><i class="icon-user"></i> Gestion des utilisateurs</h3>
<p>Un utilisateur n'est toujours pas inscrit au portail ? <%= link_to "Cliquez ici pour l'inviter", 'users/invitation/new' %></p>
<%= render :partial => '/admin/users/grid' %>
<%= render :partial => '/admin/users/form' %>