<h4>Instruments existants</h4><br />
<table class="table table-striped table-bordered">
  <tr>
    <th>Id &nbsp; &nbsp; &nbsp;</th>
    <th>Nom</th>
    <th>Date de création</th>
    <th>Dernière mise à jour</th>
  </tr>
  <% @instruments.each do |instrument| %>
      <tr>
        <td><label class="checkbox"><%= instrument.id %></label></td>
        <td><%= instrument.name %></td>
        <td><%= instrument.created_at %></td>
        <td><%= instrument.updated_at %></td>
      </tr>
  <% end %>
</table><hr>