<%= stylesheet_link_tag "footer.css" %>

<div class = "footer">
  <div class="foot-texts">
    <div class="foot-copyright ">
        <%= link_to("© 2013 FCMS","http://www.fcmsherbrooke.com") %>
    </div>

    <div class="foot-partners-title ">Nos partenaires</div>

    <div class="foot-contact "> <%= link_to("Nous rejoindre","http://fcmsherbrooke.com/contact.html") %> </div>

    <div style="clear: both;" />
  </div>

</div>
